<div>
  <p>What percent of tax dollars do you think should be spent on defense?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of tax dollars do you think should be spent on education?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of tax dollars do you think should be spent on health care?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of taxt dollars do you think should be spent on pensions?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of taxt dollars do you think should be spent on protection?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of taxt dollars do you think should be spent on transportation?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p>What percent of taxt dollars do you think should be spent on welfare?</p>
  <mat-slider min="0" max="100" step="5" value="0" thumbLabel></mat-slider>

  <br />

  <p id="bottom-p">That leaves (calc remaining percentage here) of tax dollars for everything else.</p>

  <br />

  <button mat-button>Submit</button>
</div>
